.u-center-text { //utility for simple reusable function 
  text-align: center;
}


.u-margin-bottom-small { //margin for bottom of the header
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium { //margin for bottom of the header
  margin-bottom: 4rem;
}

.u-margin-bottom-big { //margin for bottom of the header
  margin-bottom: 8rem;
}

.u-margin-top-big { //margin for top of the header
  margin-top: 8rem;
}

.u-margin-top-huge { //margin for top of the header
  margin-top: 10rem;
}
