.bg-video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;

  &__content{
    height: 100%;
    width: 100%;
    //image will fill entire parent element also maintain aspect ratio, extra bits will be clipped
    //Object fit works with html elements (and videos)
    object-fit: cover;
  }
}