.form {
  &__group:not(:last-child){
    margin-bottom: 2rem;
  }

  &__input{
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    //with forms font-family and color are not inherited
    font-family: inherit;
    color: inherit;
    border-radius: 2px;
    background-color: rgba($color-white, .5);
    border: none;
    //since focus is 3px, so the text doesnt move down. Have a transparent 3px border here.
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s;

    &:focus{
      //Gets rid of hover state
      outline: none;
      //Accessability so you know where you are at.
      box-shadow: 0 1rem 2rem rgba($color-black, .1);
      //its 3px down 
      border-bottom: 3px solid $color-primary;
    }

    //in case input inside input field is invalid
    &:focus:invalid{
      border-bottom: 3px solid $color-secondary-dark;
    }

    &::-webkit-input-placeholder{
      color: $color-grey-dark-2;
    }
  }

  &__label{
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all .3s;

  }

  // ~ is for sibling selector ig __input ~ __label
  // + is for adjacent sibling selector (one after another) __input + __label
  // with silbing selector order matters

  //When input is empty, placeholder-shown will be active
  //Works for chrome and safari only
  &__input:placeholder-shown + &__label {
    // you cant see it, but its still on the page
    opacity: 0;
    // its off the page, but you need opacity to animate
    visibility: hidden;
    //placeholder text appears like its dropping down
    transform: translateY(-4rem);
  }

  &__radio-group{
    //50% will bring to next line, so reduce to 49
    width: 49%;
    //so it could be in same line
    display: inline-block;
  }

  //make default button disappear
  &__radio-input{
    display: none;
  }

  &__radio-label{
    font-size: $default-font-size;
    //have cursor animation upon hover
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button{
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    //so it could be in same line
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.4rem;

    &::after{
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      transition: all .2s;
      opacity: 0;
    }
  }

  //when radio-input is checked, selected for sibling radio-label's child element of radio-button::after
  &__radio-input:checked + &__radio-label &__radio-button::after{
    opacity: 1;
  }
}